<configuration>
	<system.serviceModel>
		<services>
			<service name="OperadorDatos.WCF.Services.PersonaServiceWcf">
				<endpoint address="" binding="basicHttpBinding" contract="OperadorDatos.WCF.Services.IPersonaService"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:50287/WCF/PersonaWCF/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<connectionStrings>
    <add name="DbConnection" 
         connectionString="Server=localhost;Database=DBPERSONA;User Id=sa;Password=sa;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
